# NEXT_PUBLIC_API_MODE defines whether the client uses mock data or real backend APIs.
# Values: "mock" | "api"
NEXT_PUBLIC_API_MODE=mock

# Base URL for the real backend API
NEXT_PUBLIC_API_URL=https://mypartneradmin.blackbullsolution.com/api
